body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#f4f6f9;
}

header{
    display:flex;
    justify-content:space-between;
    padding:12px 20px;
    background:#dbe7f5;
    font-weight:bold;
}

.container{
    display:flex;
    flex-wrap:wrap;
}
/* START SCREEN */
#startScreen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#f4f6f9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:9999;
}

.instructions{
    max-width:500px;
    margin:20px;
    text-align:left;
}

/* GAME initially hidden */
#gameContainer{
    display:none;
}

/* GAME AREA */
.game-area{
    padding:15px;
}

#grid{
    display:grid;
    gap:1px;
    background:#999;
    padding:4px;
}

#grid > div{
    width:38px;
    height:38px;
    position:relative;
}

.disabled-cell{
    background:#d9d9d9;
}

.cell{
    width:100%;
    height:100%;
    border:none;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    background:white;
    outline:none;
}

.cell-number{
    position:absolute;
    top:2px;
    left:4px;
    font-size:9px;
    font-weight:bold;
}

.controls{
    margin-top:10px;
}

button{
    padding:6px 10px;
    margin-right:5px;
    font-weight:bold;
    cursor:pointer;
}

#message{
    margin-top:10px;
    font-weight:bold;
    color:#c62828;
}

/* CLUES */
.clues-wrapper{
    flex:1;
    display:flex;
    padding:15px;
    min-width:280px;
}

.clue-column{
    flex:1;
    margin-right:15px;
    overflow-y:auto;
    max-height:75vh;
}

.clue{
    margin-bottom:8px;
    font-size:14px;
}

/* MOBILE */
@media(max-width:768px){

    #grid > div{
        width:28px;
        height:28px;
    }

    .cell{
        font-size:14px;
    }

    .container{
        flex-direction:column;
    }

    .clues-wrapper{
        flex-direction:column;
    }
}
